/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 19px;
  display: inline-block;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 78px;
  margin-top: 0;
}

.menu > li {
  border-top: 2px solid white;
}

.menu > li:hover {
  border-top: 2px solid var(--main-color);
}

.menu > li > a {
  text-decoration: none;
  padding: 16px;
  display: block;
}

.menu > li > a:visited {
    color: black;
}

.menu > li > a:hover {
    color: var(--main-color);
}

.info-group {
  margin-top: 35px;
  margin-bottom: 35px;
}

.headline > h1 {
  font-size: 22px;
}

.headline > p {
  font-size: 16px;
}

.search-bar {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

.icon-search {
  background: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
  position: relative;
  width: 50px;
  height: 49px;
}

.fa-location-dot {
  color: black;
  position: relative;
  padding: 15px 18px 16px 18px;
  width: 14px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
}

.search-button > p {
  margin: 15px 16px 15px 16px;
}

.input-search {
  border: 1px solid var(--main-bg-color);
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 34px;
  font-weight: 700;
}

.filter {
  border: 2px solid var(--filter-border-color);
  border-radius: 25px;
  padding: 14px 19px;
}

.filter > .fa-solid {
  padding-right: 10px;
}

.filter:hover {
  background-color: var(--filter-bg-color);
}

.filter,
.search-button,
.menu > li {
  cursor: pointer;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.hebergements-cards > a, .populaires-cards > a, .container > a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
}

.hebergements-cards .card {
  width: 100%;
}

h3.card-title {
  padding-top: 4px;
  margin: 0;
  padding-bottom: 8px;
}

p.card-subtitle {
  padding: 0 0 8px 0;
  margin: 0;
}

.hebergements-cards .card img {
  object-fit: cover;
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding-left: 15px;
}

.hebergements-cards .card-rating {
  padding-bottom: 10px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/
.activite {
    padding: 4rem 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.activite-card {
    display: block;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.activite-card > img {
    height: 350px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activite-card > h3 {
    padding: 0 20px 20px 20px;
    height: 50px;
}

/****** Footer ***********/
footer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

footer > ul {
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    width: 33%;
}

footer > ul > li:first-child {
    font-weight: bold;
}

footer > ul > li {
    padding: 0.5rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filter-bar {
    flex-wrap: wrap;
  }

  .filter-bar > p {
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires > section {
    
    border-radius: unset;
  }

  .hebergements {
    width: 100%;
    background-color: white;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activite-card > img {
    height: 270px;
  }

  .activite-card > h3 {
    margin-top: 0;
    padding: 25px 15px;
    font-size: 16px;
    line-height: 19px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  .main-container {
    padding: 0;
  }

  .logo {
    padding: 30px 0;
  }

  nav {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    gap: 0;
    padding: 0;
    margin: 0 auto;
    align-items: stretch;
  }

  .menu > li {
    width: 50%;
    border-top-width: 0;
    border-bottom: 2px solid var(--main-bg-color);
  }

  .menu > li > a {
    text-align: center;
  }

  .menu > li:hover {
    border-top-width: 0;
    border-bottom: 2px solid var(--main-color);
  }

  .info-group {
    margin: 0;
    padding: 20px;
  }

  .filter {
    font-size: 14px;
    line-height: 16px;
    padding: 15px;
    width: 114px;
  }

  .filter-bar {
    gap: 15px;
    justify-content: center;
  }

  .hebergements-cards, .populaires-cards, .container, footer {
    flex-direction: column;
  }

  .activite-card > img{
    height: 141px;
  }

  .activite-card > h3 {
    margin: 0;
    padding: 19px;
    height: unset;
  }

  footer > ul {
    margin: 0;
    padding: 25px;
  }
}
